body {
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  background-image: url(/Responsive_Portfolio/Assets/images/double-bubble.png);
  background-repeat: repeat;
  background-size: auto;
  line-height: 24px;
  font-size: 16px;
}

a:link {
  color: white;
}

a:visited{
  color: white;
}

a:hover {
  color: rgb(104, 104, 104);
}

nav {
  width: 100%;
}

.container {
  margin: 110px 50px 200px 50px;
  width: 55%;
}
  
.container h1 {
  padding-top: 20px;
  font-weight: bold;
}

.container img {
  height: 350px;
  width: 350px;
  padding: 10px 15px 10px 7px;
  margin: 10px 10px 10px 5px;
}

@media only screen and (max-width: 400px) {
  .container {
    width: 75%;
    padding-right: 35px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 35px;
  }
}



